.sketch-grid {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 576px) {
  .sketch-grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .sketch-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .sketch-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .sketch-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}